{% extends "donor/donor_base.html" %}
{% block content %}




<div class="card" style="width: 18rem;">
  <img src="{{form.profile.url}}" class="card-img-top" alt="...">
  <div class="card-body">
   <b> {{form.name}}</b>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">{{form.age}}</li>

    <li class="list-group-item">{{form.DOB}}</li>
    <li class="list-group-item">{{form.blood_group}}</li>
    <li class="list-group-item">{{form.address}}</li>
      <li class="list-group-item">{{form.phone_number}}</li>
     <li class="list-group-item">{{form.email}}</li>
      <li><a href="{% url 'donor_update' form.id %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Update</a></li>

  </ul>

  </div>


{% endblock %}